Repository apache/nuttx-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Audio, Area: Benchmarks, Area: Boot, Area: CAN, Area: Binfmt, Area: Crypto, Area: Database, Area: Examples, Area: File System, Area: Games, Area: Graphics, Area: Industry, Area: Inertial, Area: Interpreters, Area: Logging, Area: LTE, Area: Math, Area: Mlearning, Area: Modbus, Area: Networking, Area: NSH, Area: SDR, Area: System, Area: Testing, Area: Video, Area: Wireless, Area: Build system, Area: Tools, Area: CI

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# add arch labels

"Area: Audio":
  - changed-files:
      - any-glob-to-any-file: 'audioutils/**'
      - any-glob-to-any-file: 'include/audioutils/**'

"Area: Benchmarks":
  - changed-files:
      - any-glob-to-any-file: 'benchmarks/**'
      - any-glob-to-any-file: 'include/benchmarks/**'

"Area: Boot":
  - changed-files:
      - any-glob-to-any-file: 'boot/**'
      - any-glob-to-any-file: 'include/boot/**'

"Area: CAN":
  - changed-files:
      - any-glob-to-any-file: 'canutils/**'
      - any-glob-to-any-file: 'include/canutils/**'

"Area: Binfmt":
  - changed-files:
      - any-glob-to-any-file: 'builtin/**'
      - any-glob-to-any-file: 'include/builtin/**'

"Area: Crypto":
  - changed-files:
      - any-glob-to-any-file: 'crypto/**'
      - any-glob-to-any-file: 'include/crypto/**'

"Area: Database":
  - changed-files:
      - any-glob-to-any-file: 'database/**'
      - any-glob-to-any-file: 'include/database/**'

"Area: Examples":
  - changed-files:
      - any-glob-to-any-file: 'examples/**'

"Area: File System":
  - changed-files:
      - any-glob-to-any-file: 'fsutils/**'
      - any-glob-to-any-file: 'include/fsutils/**'

"Area: Games":
  - changed-files:
      - any-glob-to-any-file: 'games/**'
      - any-glob-to-any-file: 'include/games/**'

"Area: Graphics":
  - changed-files:
      - any-glob-to-any-file: 'graphics/**'
      - any-glob-to-any-file: 'include/graphics/**'

"Area: Industry":
  - changed-files:
      - any-glob-to-any-file: 'industry/**'
      - any-glob-to-any-file: 'include/industry/**'

"Area: Inertial":
  - changed-files:
      - any-glob-to-any-file: 'inertial/**'
      - any-glob-to-any-file: 'include/inertial/**'

"Area: Interpreters":
  - changed-files:
      - any-glob-to-any-file: 'interpreters/**'
      - any-glob-to-any-file: 'include/interpreters/**'

"Area: Logging":
  - changed-files:
      - any-glob-to-any-file: 'logging/**'
      - any-glob-to-any-file: 'include/logging/**'

"Area: LTE":
  - changed-files:
      - any-glob-to-any-file: 'lte/**'
      - any-glob-to-any-file: 'include/lte/**'

"Area: Math":
  - changed-files:
      - any-glob-to-any-file: 'math/**'
      - any-glob-to-any-file: 'include/math/**'

"Area: Mlearning":
  - changed-files:
      - any-glob-to-any-file: 'mlearning/**'
      - any-glob-to-any-file: 'include/mlearning/**'

"Area: Modbus":
  - changed-files:
      - any-glob-to-any-file: 'modbus/**'
      - any-glob-to-any-file: 'include/modbus/**'

"Area: Networking":
  - changed-files:
      - any-glob-to-any-file: 'netutils/**'
      - any-glob-to-any-file: 'include/netuitls/**'

"Area: NSH":
  - changed-files:
      - any-glob-to-any-file: 'nshlib/**'
      - any-glob-to-any-file: 'include/nshlib/**'

"Area: SDR":
  - changed-files:
      - any-glob-to-any-file: 'sdr/**'
      - any-glob-to-any-file: 'include/sdr/**'

"Area: System":
  - changed-files:
      - any-glob-to-any-file: 'system/**'
      - any-glob-to-any-file: 'include/system/**'

"Area: Testing":
  - changed-files:
      - any-glob-to-any-file: 'testing/**'
      - any-glob-to-any-file: 'include/testing/**'

"Area: Video":
  - changed-files:
      - any-glob-to-any-file: 'videotuils/**'
      - any-glob-to-any-file: 'include/videotuils/**'

"Area: Wireless":
  - changed-files:
      - any-glob-to-any-file: 'wireless/**'
      - any-glob-to-any-file: 'include/wireless/**'

"Area: Build system":
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
      - any-glob-to-any-file: 'Make.defs'
      - any-glob-to-any-file: '*.mk'
      - any-glob-to-any-file: 'CMakeLists.txt'
      - any-glob-to-any-file: 'cmake/**'
      - any-glob-to-any-file: 'import/**'
      - any-glob-to-any-file: 'staging/**'

"Area: Tools":
  - changed-files:
      - any-glob-to-any-file: 'tools/**'

"Area: CI":
  - changed-files:
      - any-glob-to-any-file: '.github/**'

github/issue: update bug report template
  .github/ISSUE_TEMPLATE/001_bug_report.yml
Labels: Area: CI

add test for longjump with 0 as return value
  testing/ostest/setjmp.c
Labels: Area: Testing

ramspeed: fix -r -w parameter ignored, report align issue
  benchmarks/ramspeed/ramspeed_main.c
Labels: Area: Benchmarks

fix ECHO problem
  system/cu/cu_main.c
Labels: Area: System

examples: fix usrsocktest compiler warning
  examples/usrsocktest/usrsocktest_basic_connect.c
  examples/usrsocktest/usrsocktest_basic_daemon.c
  examples/usrsocktest/usrsocktest_basic_getsockname.c
  examples/usrsocktest/usrsocktest_basic_getsockopt.c
  examples/usrsocktest/usrsocktest_basic_send.c
  examples/usrsocktest/usrsocktest_basic_setsockopt.c
  examples/usrsocktest/usrsocktest_block_recv.c
  examples/usrsocktest/usrsocktest_block_send.c
  examples/usrsocktest/usrsocktest_chardev.c
  examples/usrsocktest/usrsocktest_daemon.c
  examples/usrsocktest/usrsocktest_multi_thread.c
  examples/usrsocktest/usrsocktest_noblock_connect.c
  examples/usrsocktest/usrsocktest_noblock_recv.c
  examples/usrsocktest/usrsocktest_noblock_send.c
  examples/usrsocktest/usrsocktest_nodaemon.c
  examples/usrsocktest/usrsocktest_poll.c
  examples/usrsocktest/usrsocktest_remote_disconnect.c
  examples/usrsocktest/usrsocktest_wake_with_signal.c
Labels: Area: Examples

telnet: Configure the telnet session stack to be the same as nsh
  system/telnetd/Kconfig
Labels: Area: System

quickjs: fix mp_mul multiple definition
  interpreters/quickjs/Makefile
Labels: Area: Interpreters

osperf: changes irq_t to irqstat_t
  benchmarks/osperf/osperf.c
Labels: Area: Benchmarks

fix ECHO problem
  system/cu/cu_main.c
Labels: Area: System

build.yml:disable CMake Ninja for Msys2
  .github/workflows/build.yml
Labels: Area: CI

ci: use venv for check
  .github/workflows/check.yml
Labels: Area: CI

nshlib: Fix a typo error of redirect
  nshlib/nsh_parse.c
Labels: Area: NSH

ci: use venv for check
  .github/workflows/check.yml
Labels: Area: CI

fix ECHO problem
  system/cu/cu_main.c
Labels: Area: System

quickjs: fix mp_mul multiple definition
  interpreters/quickjs/Makefile
Labels: Area: Interpreters

examples: fix usrsocktest compiler warning
  examples/usrsocktest/usrsocktest_basic_connect.c
  examples/usrsocktest/usrsocktest_basic_daemon.c
  examples/usrsocktest/usrsocktest_basic_getsockname.c
  examples/usrsocktest/usrsocktest_basic_getsockopt.c
  examples/usrsocktest/usrsocktest_basic_send.c
  examples/usrsocktest/usrsocktest_basic_setsockopt.c
  examples/usrsocktest/usrsocktest_block_recv.c
  examples/usrsocktest/usrsocktest_block_send.c
  examples/usrsocktest/usrsocktest_chardev.c
  examples/usrsocktest/usrsocktest_daemon.c
  examples/usrsocktest/usrsocktest_multi_thread.c
  examples/usrsocktest/usrsocktest_noblock_connect.c
  examples/usrsocktest/usrsocktest_noblock_recv.c
  examples/usrsocktest/usrsocktest_noblock_send.c
  examples/usrsocktest/usrsocktest_nodaemon.c
  examples/usrsocktest/usrsocktest_poll.c
  examples/usrsocktest/usrsocktest_remote_disconnect.c
  examples/usrsocktest/usrsocktest_wake_with_signal.c
Labels: Area: Examples

osperf: changes irq_t to irqstat_t
  benchmarks/osperf/osperf.c
Labels: Area: Benchmarks

telnet: Configure the telnet session stack to be the same as nsh
  system/telnetd/Kconfig
Labels: Area: System

add test for longjump with 0 as return value
  testing/ostest/setjmp.c
Labels: Area: Testing

ramspeed: fix -r -w parameter ignored, report align issue
  benchmarks/ramspeed/ramspeed_main.c
Labels: Area: Benchmarks

telenet: fix telenet compilation error when system_nsh is not enabled
  system/telnetd/Kconfig
Labels: Area: System

nshlib: Fix stack-buffer-overflow of nsh_redirect()
  nshlib/nsh_console.h
Labels: Area: NSH

nshlib: Fix a typo error of redirect
  nshlib/nsh_parse.c
Labels: Area: NSH

nsh/fsutils: fix build break if CONFIG_NSH_DISABLE_PKILL not disabled
  nshlib/nsh.h
  nshlib/nsh_fsutils.c
Labels: Area: NSH

Fix telnetd.c:57:5: error: 'CONFIG_SYSTEM_TELNETD_SESSION_STACKSIZE' undeclared
  system/telnetd/Kconfig
Labels: Area: System

Revert "telnet: Configure the telnet session stack to be the same as nsh"
  system/telnetd/Kconfig
Labels: Area: System
