Repository apache/nuttx-apps, pull requests merged in 2024-10, with the labels that each got.

#2634 usbserial: Add config for customize direction, message and wait time
  examples/usbserial/Kconfig
  examples/usbserial/usbserial_main.c
Labels: Size: S

#2628 ostest/smpcall: add smp call from interrupt test
  testing/ostest/smp_call.c
Labels: Size: S

#2641 github: sync labels with nuttx repo
  .github/ISSUE_TEMPLATE/001_bug_report.yml
  .github/ISSUE_TEMPLATE/002_feature_request.yml
  .github/ISSUE_TEMPLATE/003_help.yml
  .github/workflows/issue_labeler.yml
Labels: Size: M

#2612 nsh:support wait command to wait task exit.
  nshlib/CMakeLists.txt
  nshlib/Kconfig
  nshlib/Makefile
  nshlib/nsh.h
  nshlib/nsh_command.c
  nshlib/nsh_parse.c
  nshlib/nsh_wait.c
Labels: Size: M

#2644 fix build error
  examples/nettest/nettest_server.c
  examples/tcpblaster/tcpblaster_server.c
Labels: Size: S

#2646 mps2: add zero-latency-interrupt case on mps2
  testing/drivertest/Makefile
  testing/drivertest/drivertest_mps2_zerointerrupt.c
Labels: Size: M

#2648 system/adbd: Fix typo error(CONFIG_ADB_SERVER->CONFIG_SYSTEM_ADBD)
  system/adb/CMakeLists.txt
Labels: Size: XS

#2652 nsh: Fix PS printing misalignment
  nshlib/nsh_proccmds.c
Labels: Size: XS

#2649 CI: Sync the Build Rules from nuttx repo
  .github/workflows/arch.yml
Labels: Size: M

#2651 examples/romfs: Add a new dependency
  examples/romfs/Kconfig
Labels: Size: XS

#2653 CI: Sync the Build Workflow from nuttx repo
  .github/workflows/build.yml
Labels: Size: S

#2654 system/dhcp6c: add NET_ICMPv6_AUTOCONF dependency
  system/dhcp6c/Kconfig
Labels: Size: XS

#2655 examples: fix noteprint compile error
  examples/noteprintf/noteprintf_main.c
Labels: Size: S

#2656 tools/mksymtab.sh: Add symbol table for modlib
  tools/mksymtab.sh
Labels: Size: XS

#2657 system: simplify system/note code
  system/sched_note/note_main.c
Labels: Size: L

#2661 {Bp-2647} net: Remove IFF_DOWN flag to compatible with Linux/*BSD
  lte/alt1250/alt1250_netdev.c
  lte/alt1250/usock_handlers/alt1250_ioctl_ifreq.c
  netutils/netinit/netinit.c
  netutils/netlib/netlib_setifstatus.c
Labels: Size: S

#2662 Keep the dhcpv6 renew process name the same in cmake and makefile
  system/dhcp6c/CMakeLists.txt
Labels: Size: XS

#2663 testing/monkey: add screen offset config support
  testing/monkey/monkey_event.c
  testing/monkey/monkey_main.c
  testing/monkey/monkey_type.h
Labels: Size: S

#2669 {Bp-2668} canutils/libobd2: replace field ch_unused with ch_tcf
  canutils/libobd2/obd_sendrequest.c
Labels: Size: XS

#2670 {Bp-2592} lvgl: upgrade to release/v9.2.1
  graphics/lvgl/0001-fix-demo-fix-compile-warning.patch
  graphics/lvgl/CMakeLists.txt
  graphics/lvgl/Kconfig
  graphics/lvgl/Makefile
Labels: Size: M

#2668 canutils/libobd2: replace field ch_unused with ch_tcf
  canutils/libobd2/obd_sendrequest.c
Labels: Size: XS

#2658 fsutils/mkmbr/mkmbr.c: fix null pointer access when not all device space is defined in mbr
  fsutils/mkmbr/mkmbr.c
Labels: Size: XS

#2673 {Bp-2658} fsutils/mkmbr/mkmbr.c: fix null pointer access when not all device sp…
  fsutils/mkmbr/mkmbr.c
Labels: Size: XS

#2674 Revert "{Bp-2592} lvgl: upgrade to release/v9.2.1"
  graphics/lvgl/0001-fix-demo-fix-compile-warning.patch
  graphics/lvgl/CMakeLists.txt
  graphics/lvgl/Kconfig
  graphics/lvgl/Makefile
Labels: Size: M

#2664 libc:getline support backspace
  system/cle/cle.c
  system/readline/readline_fd.c
Labels: Size: S

#2676 CI: Sync the Build Workflow from nuttx repo
  .github/workflows/arch.yml
  .github/workflows/build.yml
Labels: Size: M

#2677 nsh_syscmds.c: upadate rpmsg ping help
  nshlib/nsh_syscmds.c
Labels: Size: S

#2682 examples/pipe: Enhance test by different r/w thread priority
  examples/pipe/pipe.h
  examples/pipe/pipe_main.c
  examples/pipe/transfer_test.c
Labels: Size: M

#2679 libuv: Remove GCCVER and add compilation options directly.
  system/libuv/CMakeLists.txt
  system/libuv/Makefile
Labels: Size: S

#2681 noteprintf: fix compile warnings
  examples/noteprintf/noteprintf_main.c
Labels: Size: S

#2680 apps/testing:Add c++ STL code size test case.
  testing/cxxsize/CMakeLists.txt
  testing/cxxsize/Kconfig
  testing/cxxsize/Make.defs
  testing/cxxsize/Makefile
  testing/cxxsize/README.md
  testing/cxxsize/array.cxx
  testing/cxxsize/condition_variable.cxx
  testing/cxxsize/deque.cxx
  testing/cxxsize/exception.cxx
  testing/cxxsize/forward_list.cxx
  testing/cxxsize/future.cxx
  testing/cxxsize/iostream.cxx
  testing/cxxsize/list.cxx
  testing/cxxsize/map.cxx
  testing/cxxsize/multiset.cxx
  testing/cxxsize/mutex.cxx
  testing/cxxsize/rtti.cxx
  testing/cxxsize/semaphore.cxx
  testing/cxxsize/set.cxx
  testing/cxxsize/shared_ptr.cxx
  testing/cxxsize/string.cxx
  testing/cxxsize/string_view.cxx
  testing/cxxsize/thread.cxx
  testing/cxxsize/unordered_map.cxx
  testing/cxxsize/unordered_multimap.cxx
  testing/cxxsize/unordered_multiset.cxx
  testing/cxxsize/unordered_set.cxx
  testing/cxxsize/vector.cxx
  testing/cxxsize/weak_ptr.cxx
Labels: Size: XL

#2678 Fix issue with return value not being checked
  system/cu/cu_main.c
Labels: Size: XS

#2685 system/system: add config SYSTEM_SYSTEM_DUMPINFO
  system/system/Kconfig
  system/system/system.c
Labels: Size: S

#2686 nshlib/nsh_parse: support use \" and \' to pass " and ' to arguments
  nshlib/nsh_parse.c
Labels: Size: S

#2689 wapi_json_load: the buf need add null character
  wireless/wapi/src/util.c
Labels: Size: XS

#2687 osperf/osperf: move close pipefd after pthread_join
  benchmarks/osperf/osperf.c
Labels: Size: XS

#2684 coremark/Makefile: avoid crc function multiple definition
  benchmarks/coremark/Makefile
Labels: Size: XS

#2683 lsan: add system cmd lsan support
  system/lsan/CMakeLists.txt
  system/lsan/Kconfig
  system/lsan/Make.defs
  system/lsan/Makefile
  system/lsan/lsan_main.c
Labels: Size: M

#2692 Revert "libuv: Remove GCCVER and add compilation options directly."
  system/libuv/CMakeLists.txt
  system/libuv/Makefile
Labels: Size: S

#2691 examples/bmi160:bmi160 add urob mode example.
  examples/bmi160/CMakeLists.txt
  examples/bmi160/Kconfig
  examples/bmi160/Makefile
  examples/bmi160/sixaxis_uorb_main.c
Labels: Size: M

#2694 driverteset_block.c: Reduce the stack consumption
  testing/drivertest/drivertest_block.c
Labels: Size: S

#2690 uORB:Fixed the problem that uorb output cannot wrap after deleting lib_libbsprintf automatic wrapping.
  system/uorb/uORB/uORB.c
Labels: Size: XS

#2688 ADB: Hotplug check and QEMU pipe
  system/adb/Kconfig
  system/adb/Makefile
Labels: Size: S

#2671 build.yml[bugfix]:disable CMake Ninja for Msys2
  .github/workflows/build.yml
Labels: Size: XS

#2712 [Fixes CI now!] ci: use venv for check
  .github/workflows/check.yml
Labels: Size: XS

#2711 fix ECHO problem
  system/cu/cu_main.c
Labels: Size: S

#2710 quickjs: fix mp_mul multiple definition
  interpreters/quickjs/Makefile
Labels: Size: XS

#2709 examples: fix usrsocktest compiler warning
  examples/usrsocktest/usrsocktest_basic_connect.c
  examples/usrsocktest/usrsocktest_basic_daemon.c
  examples/usrsocktest/usrsocktest_basic_getsockname.c
  examples/usrsocktest/usrsocktest_basic_getsockopt.c
  examples/usrsocktest/usrsocktest_basic_send.c
  examples/usrsocktest/usrsocktest_basic_setsockopt.c
  examples/usrsocktest/usrsocktest_block_recv.c
  examples/usrsocktest/usrsocktest_block_send.c
  examples/usrsocktest/usrsocktest_chardev.c
  examples/usrsocktest/usrsocktest_daemon.c
  examples/usrsocktest/usrsocktest_multi_thread.c
  examples/usrsocktest/usrsocktest_noblock_connect.c
  examples/usrsocktest/usrsocktest_noblock_recv.c
  examples/usrsocktest/usrsocktest_noblock_send.c
  examples/usrsocktest/usrsocktest_nodaemon.c
  examples/usrsocktest/usrsocktest_poll.c
  examples/usrsocktest/usrsocktest_remote_disconnect.c
  examples/usrsocktest/usrsocktest_wake_with_signal.c
Labels: Size: S

#2707 osperf: changes irq_t to irqstate_t
  benchmarks/osperf/osperf.c
Labels: Size: XS

#2706 telnet: Configure the telnet session stack to be the same as nsh
  system/telnetd/Kconfig
Labels: Size: XS

#2704 add test for longjump with 0 as return value
  testing/ostest/setjmp.c
Labels: Size: S

#2700 ramspeed: fix -r -w parameter ignored, report align issue
  benchmarks/ramspeed/ramspeed_main.c
Labels: Size: S

#2716 Fix telnetd.c:57:5: error: 'CONFIG_SYSTEM_TELNETD_SESSION_STACKSIZE' undeclared
  system/telnetd/Kconfig
Labels: Size: XS

#2720 Revert "add test for longjump with 0 as return value"
  testing/ostest/setjmp.c
Labels: Size: S, Area: Testing

#2721 cjson_test:add define CONFIG_CJSON_NESTING_LIMIT
  netutils/cjson/Kconfig
  netutils/cjson/Makefile
Labels: Area: Networking, Size: XS

#2718 apps/benchmarks/dhrystone: Fix compilation errors
  benchmarks/dhrystone/CMakeLists.txt
  benchmarks/dhrystone/Makefile
Labels: Size: XS, Area: Benchmarks

#2735 nshlib:Add macro restrictions to code that uses floating point numbers
  nshlib/nsh_fscmds.c
Labels: Size: XS, Area: NSH

#2726 rtc: change localtime to gmtime.
  testing/drivertest/drivertest_rtc.c
Labels: Size: XS, Area: Testing

#2725 add test for longjump with 0 as return value
  testing/ostest/setjmp.c
Labels: Size: S, Area: Testing

#2724 apps: Fix compilation error after nuttx/arch.h excluded
  examples/oneshot/oneshot_main.c
  nshlib/nsh_parse.c
  system/coredump/coredump.c
  system/fastboot/fastboot.c
  system/ntpc/ntpcstatus_main.c
  system/readline/readline.c
  testing/drivertest/drivertest_oneshot.c
  testing/drivertest/drivertest_watchdog.c
  testing/getprime/getprime_main.c
  testing/ostest/ostest_main.c
Labels: Size: S, Area: System, Area: Testing, Area: NSH, Area: Examples

#2723 thttpd:fix Coding Style Check Failed issue
  netutils/thttpd/libhttpd.c
  netutils/thttpd/thttpd.c
  netutils/thttpd/thttpd_cgi.c
  netutils/thttpd/thttpd_cgi.h
  netutils/thttpd/timers.c
  netutils/thttpd/timers.h
Labels: Area: Networking, Size: S

#2703 fstest: Add header to fix build issues
  testing/fstest/fstest_main.c
Labels: Size: XS, Area: Testing

#2693 testing/drivertest_block.c: Fix cmoka driver block test error
  testing/drivertest/drivertest_block.c
Labels: Size: S, Area: Testing

#2722 cxxtest: optional stream test
  testing/cxxtest/cxxtest_main.cxx
Labels: Size: S, Area: Testing

#2731 nshlib/nsh_parse: support use \\ to pass '\' to argument
  nshlib/nsh_parse.c
Labels: Size: XS, Area: NSH

#2695 drivertest/Makefile: add CONFIG_BUILD_FLAT limit for drivertest_block.c
  testing/drivertest/Makefile
Labels: Size: XS, Area: Testing

#2734 zlib:Support using Kconfig to control memory usage in zlib
  system/zlib/Kconfig
  system/zlib/Makefile
Labels: Size: S, Area: System

#2727 cmd_date:Set optind to zero in the error case.
  nshlib/nsh_timcmds.c
Labels: Size: XS, Area: NSH

#2729 system/ymodem: Change #include <nuttx/mm/circbuf.h> to #include <nuttx/circbuf.h>
  system/ymodem/rb_main.c
  system/ymodem/sb_main.c
Labels: Size: XS, Area: System

#2730 add LIBUV_HANDLE_BACKTRACE
  system/libuv/Kconfig
  system/libuv/Make.defs
  system/libuv/Makefile
Labels: Size: S, Area: System

#2697 nsh/fsutils: fix build break if CONFIG_NSH_DISABLE_PKILL not disabled
  nshlib/nsh.h
  nshlib/nsh_fsutils.c
Labels: Size: XS

#2745 cxxsize: Updata code size.
  testing/cxxsize/README.md
Labels: Size: S, Area: Testing

#2714 nshlib: fix top command sorting result error
  nshlib/nsh_proccmds.c
Labels: Size: XS, Area: NSH

#2746 examples/sotest: Correct the path in the log
  examples/sotest/main/sotest_main.c
Labels: Size: XS, Area: Examples

#2744 apps/mbedtls: add compilation configuration
  crypto/mbedtls/CMakeLists.txt
  crypto/mbedtls/Kconfig
Labels: Size: S, Area: Crypto

#2743 coredump app: type of info->time has changed into timespec
  system/coredump/coredump.c
Labels: Size: XS, Area: System

#2741 nshlib/cmd_cat: Avoid casting -1 to size_t as count of nsh_write()
  nshlib/nsh_fscmds.c
Labels: Size: S, Area: NSH

#2749 build(bugfix):fix Make.dep location missing when specifying PREFIX, hide invalid cp output from ar
  Application.mk
  Make.defs
Labels: Area: Build System, Size: XS

#2748 nsh: support watch command
  nshlib/Kconfig
  nshlib/nsh.h
  nshlib/nsh_command.c
  nshlib/nsh_timcmds.c
Labels: Size: S, Area: NSH

#2732 apps/nshlib/cmd_cd: Modify the logic of cd
  nshlib/nsh_fsutils.c
Labels: Size: XS, Area: NSH

#2750 CI: Disable all jobs for macOS and Windows
  .github/workflows/arch.yml
  .github/workflows/build.yml
Labels: Size: S, Area: CI

#2698 testing: mm test will be skipped to prevent memory overflow
  testing/mm/mm_main.c
Labels: Size: M, Area: Testing

#2753 CI: Skip jobs arm-08 to arm-14 when a Complex PR is created / updated
  .github/workflows/arch.yml
Labels: Size: XS, Area: CI

#2755 wireless/wapi.c: Initialize variables to avoid abnormal
  wireless/wapi/src/wapi.c
Labels: Size: XS, Area: Wireless

#2757 drivertest_i2c_spi: Supports incoming device nodes so we can test both iic and spi
  testing/drivertest/drivertest_i2c_spi.c
Labels: Size: S, Area: Testing

#2756 uorb:Fixed the abnormal issue of printing uint16 with PRIu16.
  system/uorb/sensor/ppgd.c
  system/uorb/sensor/ppgq.c
Labels: Size: XS, Area: System

#2758 CI: Skip half of RISC-V, Xtensa and Simulator targets when a Complex PR is created / updated
  .github/workflows/arch.yml
Labels: Size: S, Area: CI

#2751 nshlib/dd: Add support for reading from/writing to standard input/output
  nshlib/nsh_command.c
  nshlib/nsh_ddcmd.c
Labels: Size: S, Area: NSH

#2759 libuv: Remove GCCVER redefinition.
  system/libuv/CMakeLists.txt
  system/libuv/Makefile
Labels: Size: S, Area: System

#2760 CI: Split the Build Jobs for Arm64 and x86_64
  .github/workflows/arch.yml
  .github/workflows/build.yml
Labels: Size: S, Area: CI

#2761 CI: Build only Arm32 Targets arm-01 / 03 / 05 / 06 / 07 / 09 / 11 for Complex PRs
  .github/workflows/arch.yml
Labels: Size: XS, Area: CI

#2522 nshlib: use sh -c replace pthread detach when nsh background.
  nshlib/nsh_parse.c
Labels: Size: M, Area: NSH

#2763 CI: Split the targets in sim-01 and add sim-03
  .github/workflows/build.yml
Labels: Size: XS, Area: CI

#2766 ISSUE_TEMPLATE: fix missing labels
  .github/ISSUE_TEMPLATE/001_bug_report.yml
  .github/ISSUE_TEMPLATE/002_feature_request.yml
  .github/ISSUE_TEMPLATE/003_help.yml
  .github/workflows/issue_labeler.yml
Labels: Size: S, Area: CI

#2762 kasantest: Add some tests for legitimate and illegitimate operations of memory APIs
  testing/kasantest/kasantest.c
Labels: Size: M, Area: Testing

#2765 Add to nuttx apps a simple app to test spi slave driver.
  examples/spislv_test/CMakeLists.txt
  examples/spislv_test/Kconfig
  examples/spislv_test/Make.defs
  examples/spislv_test/Makefile
  examples/spislv_test/spislv_test.c
Labels: Size: M, Area: Examples

#2767 CI: Enable sim-02 build when we create or update a Complex PR
  .github/workflows/arch.yml
Labels: Size: XS, Area: CI

#2768 netutils/connectedhomeip: use CONFIG_CXX_STANDARD instead of hard code
  netutils/connectedhomeip/CMakeLists.txt
Labels: Area: Networking, Size: XS

#2592 lvgl: upgrade to release/v9.2
  graphics/lvgl/0001-fix-demo-fix-compile-warning.patch
  graphics/lvgl/CMakeLists.txt
  graphics/lvgl/Kconfig
  graphics/lvgl/Makefile
Labels: Size: M, Area: Graphics

#2764 {Bp-2592} lvgl: upgrade to release/v9.2
  graphics/lvgl/0001-fix-demo-fix-compile-warning.patch
  graphics/lvgl/CMakeLists.txt
  graphics/lvgl/Kconfig
  graphics/lvgl/Makefile
Labels: Size: M

#2772 lvgldemo: should use nuttx_deinit to free all resources
  examples/lvgldemo/lvgldemo.c
Labels: Size: XS, Area: Examples

#2773 fix compile warning for fsutils inifile.c
  fsutils/inifile/inifile.c
Labels: Area: File System, Size: XS

#2643 examples/mqttc: add option to use MBED TLS for connections
  examples/mqttc/Kconfig
  examples/mqttc/mqttc_pub.c
  netutils/mqttc/Kconfig
Labels: Area: Networking, Size: M, Area: Examples

#2778 build(bugfix):remove unused cmake scrpits
  testing/gpu/CMakeLists.txt
  testing/opus_ramtest/CMakeLists.txt
Labels: Size: XS, Area: Testing

#2776 lvgldemo: allow to customize input dev path
  examples/lvgldemo/Kconfig
  examples/lvgldemo/lvgldemo.c
Labels: Size: S, Area: Examples

#2775 example/libtest: add malloc/free to libtest
  examples/libtest/libtest.c
  examples/libtest/libtest_main.c
Labels: Size: S, Area: Examples

#2777 examples/netpkt: add ethercat test example for robot
  examples/netpkt/CMakeLists.txt
  examples/netpkt/Makefile
  examples/netpkt/netpkt_ethercat.c
Labels: Size: M, Area: Examples

#2787 matter: add Kconfig option to control logging
  netutils/connectedhomeip/CMakeLists.txt
  netutils/connectedhomeip/Kconfig
Labels: Area: Networking, Size: M

#2786 canutils: change dependency from GPL to BSD
  canutils/candump/Kconfig
  canutils/cansend/Kconfig
  canutils/libcanutils/Kconfig
Labels: Size: XS, Area: CAN

#2783 testing/cmocka: shuffling test sequence and pass seed arg
  testing/cmocka/cmocka_main.c
Labels: Size: S, Area: Testing

#2771 Replace getrandom with arc4random_buf to simplify the usage
  fsutils/mkgpt/mkgpt.c
  netutils/dhcpc/dhcpc.c
Labels: Area: File System, Area: Networking, Size: S

#2781 netutils: fix compile error when not defined CONFIG_NET_ETHERNET
  netutils/netlib/netlib_obtainipv4addr.c
Labels: Area: Networking, Size: XS

#2788 testing/stressapptest: fix: git status --ignore normalization check problem
  testing/stressapptest/.gitignore
Labels: Size: XS, Area: Testing

#2793 macos:fix sim:module build warning
  Application.mk
Labels: Area: Build System, Size: XS

#2792 app/testing:Add x86_64 abi test cases
  testing/x86-64-ABI/0001-app-testing-Resolve-the-issue-of-compilation-failure.patch
  testing/x86-64-ABI/Kconfig
  testing/x86-64-ABI/Make.defs
  testing/x86-64-ABI/Makefile
Labels: Size: M, Area: Testing

#2791 resmonitor: add showinfo/filldisk/fillcpu/fillmem
  testing/resmonitor/CMakeLists.txt
  testing/resmonitor/Kconfig
  testing/resmonitor/Make.defs
  testing/resmonitor/Makefile
  testing/resmonitor/fillcpu.c
  testing/resmonitor/filldisk.c
  testing/resmonitor/fillmem.c
  testing/resmonitor/showinfo.c
Labels: Size: XL, Area: Testing

#2794 ostest: update wqueue test for new API
  testing/ostest/ostest_main.c
  testing/ostest/wqueue.c
Labels: Size: M, Area: Testing

#2789 benchmarks: support tinymembench
  benchmarks/tinymembench/0001-tinymembench-fix-compiling-error-for-NuttX.patch
  benchmarks/tinymembench/CMakeLists.txt
  benchmarks/tinymembench/Kconfig
  benchmarks/tinymembench/Make.defs
  benchmarks/tinymembench/Makefile
Labels: Size: M, Area: Benchmarks

#2795 add x86-64-ABI/.gitignore
  testing/x86-64-ABI/.gitignore
Labels: Size: XS, Area: Testing

#2798 netpkt_ethercat.c: fix the description of usage
  examples/netpkt/netpkt_ethercat.c
Labels: Size: XS, Area: Examples

#2796 ymodem:fix bug,When sending a retransmission, HEAD is overwritten.
  system/ymodem/ymodem.c
Labels: Size: XS, Area: System

#2800 nshlib/console: fix compile error when open CONFIG_NSH_ALTCONDEV
  nshlib/nsh_console.c
Labels: Size: XS, Area: NSH

#2804 benchmarks: support cyclictest
  benchmarks/rt-tests/0001-rt-tests-cyclictest-Port-for-NuttX.patch
  benchmarks/rt-tests/CMakeLists.txt
  benchmarks/rt-tests/Kconfig
  benchmarks/rt-tests/Make.defs
  benchmarks/rt-tests/Makefile
  benchmarks/rt-tests/numa.h
Labels: Size: M, Area: Benchmarks

#2802 benchmarks: support test-tlb
  benchmarks/test-tlb/0001-test-tlb-port-for-NuttX.patch
  benchmarks/test-tlb/CMakeLists.txt
  benchmarks/test-tlb/Kconfig
  benchmarks/test-tlb/Make.defs
  benchmarks/test-tlb/Makefile
Labels: Size: M, Area: Benchmarks

#2806 Add The Linux Programming Interface under examples
  examples/tlpi/.gitignore
  examples/tlpi/0001-add-ename.c.inc.patch
  examples/tlpi/0002-fix-setenv-compilation-error.patch
  examples/tlpi/0003-fix-memoryleak-in-check_password.patch
  examples/tlpi/0004-fix-compilation-error.patch
  examples/tlpi/Kconfig
  examples/tlpi/Make.defs
  examples/tlpi/Makefile
Labels: Size: L, Area: Examples
