Repository apache/nuttx-apps, pull requests merged in 2024-11, with the labels that each got.

#2809 boot: add NuttX bootloader with update and recovery support
  boot/nxboot/CMakeLists.txt
  boot/nxboot/Kconfig
  boot/nxboot/Make.defs
  boot/nxboot/Makefile
  boot/nxboot/include/nxboot.h
  boot/nxboot/loader/boot.c
  boot/nxboot/loader/flash.c
  boot/nxboot/loader/flash.h
  boot/nxboot/nxboot_main.c
  boot/nxboot/tools/nximage.py
  boot/nxboot/tools/requirements.txt
Labels: Size: XL, Area: Boot

#2811 system/debugpoint: Fix RO watchpoint test issue for esp devices
  system/debugpoint/debug.c
Labels: Size: XS, Area: System

#2808 Improve nxdiag example for Espressif devices
  system/nxdiag/Kconfig
  system/nxdiag/Makefile
  system/nxdiag/nxdiag.c
  tools/host_sysinfo.py
Labels: Size: M, Area: System, Area: Tools

#2813 CI: Enable builds for msys2, msvc, arm-08, arm-10, arm-13 for Complex PRs
  .github/workflows/arch.yml
Labels: Size: S, Area: CI

#2814 CI: Add Python linter to check
  .github/workflows/check.yml
Labels: Size: XS, Area: CI

#2816 wamr: add iwasm include directory to nuttx target
  interpreters/wamr/CMakeLists.txt
Labels: Size: XS, Area: Interpreters

#2801 Added demo for BLE
  examples/ble/CMakeLists.txt
  examples/ble/Kconfig
  examples/ble/Make.defs
  examples/ble/Makefile
  examples/ble/ble.c
  examples/ble/ble_main.c
  examples/ble/dummy.c
  examples/ble/sensors.c
  examples/ble/sensors.h
Labels: Size: L, Area: Examples

#2817 CI: Disable the CI Build on push to master branch
  .github/workflows/build.yml
Labels: Size: XS, Area: CI

#2780 CI: Check out the correct branch of nuttx repo when compiling nuttx-apps
  .github/workflows/build.yml
Labels: Size: XS, Area: CI

#2818 benchmarks: add .gitignore files
  benchmarks/rt-tests/.gitignore
  benchmarks/tacle-bench/.gitignore
  benchmarks/test-tlb/.gitignore
  benchmarks/tinymembench/.gitignore
Labels: Size: XS, Area: Benchmarks

#2823 nsh_vars: Remove rogue sched_unlock()
  nshlib/nsh_vars.c
Labels: Size: XS, Area: NSH

#2824 nxboot: fix incorrect confirm state for directly flashed image
  boot/nxboot/loader/boot.c
Labels: Size: XS, Area: Boot

#2821 tools: Add essential math.h for wasm build
  include/wasm/.gitignore
  include/wasm/math.h
  tools/Wasm.mk
Labels: Size: S, Area: Tools

#2822 smpcall: add nxsched_smp_call_async and nxsched_smp_call_single_async
  testing/ostest/smp_call.c
Labels: Size: S, Area: Testing

#2825 fix compile error
  testing/ostest/smp_call.c
Labels: Size: XS, Area: Testing

#2826 uORB/sensor: Add GNSS firmware version for `sensor_gnss_format`
  system/uorb/sensor/gnss.c
Labels: Size: XS, Area: System

#2830 nxaudio: fix audio stop logic to prevent buffer addition after STOP signal
  audioutils/nxaudio/nxaudio.c
Labels: Size: XS, Area: Audio

#2829 examples/pipe: fix write usage
  examples/pipe/transfer_test.c
Labels: Size: S, Area: Examples

#2828 isrthread: add configuring the stack of an isrthread as static
  testing/ostest/wqueue.c
Labels: Size: XS, Area: Testing

#2835 build: increase FetchContent timeout to 120 seconds for LVGL
  graphics/lvgl/CMakeLists.txt
Labels: Size: XS, Area: Graphics

#2834 ostest/pthread_rwlock: We need to wait for race_cond_thread2 to acquire the rdlock first, otherwise it may cause a deadlock.
  testing/ostest/pthread_rwlock.c
Labels: Size: XS, Area: Testing

#2833 nshlib/cmd_cat: Retry if `nsh_read()` was interrupted by a signal
  nshlib/nsh_fscmds.c
Labels: Size: S, Area: NSH

#2837 nshlib/cmd_dd: Retry if read() was interrupted
  nshlib/nsh_ddcmd.c
Labels: Size: XS, Area: NSH

#2838 audioutils/nxaudio: added pause/resume interface in nxaudio.h
  include/audioutils/nxaudio.h
Labels: Size: XS, Area: Audio

#2832 stdio.h:Remove unnecessary header file, app header change
  nshlib/nsh_fsutils.c
  testing/ostest/nxevent.c
  testing/ostest/pthread_exit.c
  testing/ostest/setjmp.c
  testing/ostest/setvbuf.c
  testing/ostest/signest.c
Labels: Size: XS, Area: Testing, Area: NSH

#2842 gcov: modify depends on
  system/gcov/Kconfig
Labels: Size: XS, Area: System

#2843 cxxtest: Add static string test.
  testing/cxxtest/cxxtest_main.cxx
Labels: Size: XS, Area: Testing

#2845 stdio.h:remove <nuttx/xxx.h>
  examples/pipe/pipe_main.c
  examples/pipe/redirect_test.c
  system/libuv/0001-libuv-port-for-nuttx.patch
  system/popen/popen.c
  testing/cmocka/cmocka_main.c
  testing/drivertest/drivertest_pm_runtime.c
  testing/drivertest/drivertest_posix_timer.c
  testing/drivertest/drivertest_rtc.c
  testing/drivertest/drivertest_uart.c
  testing/testsuites/kernel/fs/cases/fs_getfilep_test.c
  testing/testsuites/kernel/mm/cases/mm_test_008.c
  wireless/bluetooth/btsak/btsak.h
Labels: Size: S, Area: System, Area: Testing, Area: Examples, Area: Wireless

#2847 gprof: modify depends on
  system/gprof/Kconfig
Labels: Size: XS, Area: System

#2846 cmake(bugfix):add INCLUDE_DIRECTORIES for nimble
  examples/nimble/CMakeLists.txt
Labels: Size: S, Area: Examples

#2850 nshlib/nsh_parse: Fix variable arguments concat error of `nsh_execute()`
  nshlib/nsh_parse.c
Labels: Size: S, Area: NSH

#2841 nshlib/pipeline: Concat variable arguments failed
  nshlib/nsh_parse.c
Labels: Size: S, Area: NSH

#2851 posix_spawn: Move dependencies to Kconfig
  examples/posix_spawn/Kconfig
  examples/posix_spawn/spawn_main.c
Labels: Size: S, Area: Examples

#2848 nshlib/cmd_wait: Wait failed if `FS_PROCFS` not enabled
  nshlib/Kconfig
  nshlib/nsh.h
  nshlib/nsh_command.c
  nshlib/nsh_wait.c
Labels: Size: S, Area: NSH

#2853 build(bugfix):fix uClibc++ layout build error
  testing/uclibcxx_test/Makefile
Labels: Size: XS, Area: Testing

#2854 quickjs: fix mp_mul multiple definition
  interpreters/quickjs/CMakeLists.txt
Labels: Size: XS, Area: Interpreters

#2849 mm/iob: add ostest test
  testing/iob/CMakeLists.txt
  testing/iob/Kconfig
  testing/iob/Make.defs
  testing/iob/Makefile
  testing/iob/iob_main.c
Labels: Size: L, Area: Testing

#2856 cmake(build):add benchmarks osperf CMakeLists.txt
  benchmarks/osperf/CMakeLists.txt
Labels: Size: S, Area: Benchmarks

#2857 cmake(build):add missing basic and nxlooper cmake script
  interpreters/minibasic/CMakeLists.txt
  system/nxlooper/CMakeLists.txt
Labels: Size: S, Area: System, Area: Interpreters

#2860 cmake:add missing rtptools CMake scripts
  netutils/rtptools/CMakeLists.txt
Labels: Area: Networking, Size: M

#2862 system/adb: Fix log format error
  system/adb/Kconfig
Labels: Size: XS, Area: System

#2861 bin:Copy debug info to a separate folder
  .gitignore
  Application.mk
  Make.defs
  Makefile
Labels: Area: Build System, Size: XS

#2864 testing/ostest/wdog.c: remove a set-only global
  testing/ostest/signest.c
Labels: Size: XS, Area: Testing

#2863 testing/ostest/signest.c: fix the range of signals
  testing/ostest/signest.c
Labels: Size: S, Area: Testing

#2867 build.yml: MSYS2 GitHub Action disabled ccache and enabled option -N (CMake+Ninja)
  .github/workflows/build.yml
Labels: Size: XS, Area: CI

#2868 system/dd: a few improvements
  system/dd/dd_main.c
Labels: Size: S, Area: System
