Repository apache/nuttx-apps, pull requests merged in 2024-09, with the labels that each got.

#2600 Adapt the new header file path of va_format.
  system/adb/adb_main.c
  testing/monkey/monkey_log.c
Labels: Size: XS

#2591 build.yml: Workflow aligned with nuttx repo
  .github/workflows/build.yml
Labels: Size: S

#2604 uorb:Added urob loop function module and supported epoll.
  system/uorb/CMakeLists.txt
  system/uorb/Kconfig
  system/uorb/Makefile
  system/uorb/uORB/epoll.c
  system/uorb/uORB/internal.h
  system/uorb/uORB/loop.c
  system/uorb/uORB/uORB.h
Labels: Size: M

#2607 nshlib: Add missing newline in cmd_pidof output
  nshlib/nsh_proccmds.c
Labels: Size: XS

#2617 coremark:Fix renaming issues with other libraries
  benchmarks/coremark/Makefile
Labels: Size: XS

#2616 testing/crypto: add ECDSA P256 testing case for asynchronous call
  testing/crypto/ecdsa.c
Labels: Size: M

#2615 greenhills support: fix green hills toolchain build warnings
  .gitignore
  nshlib/nsh_alias.c
  testing/ostest/semtimed.c
Labels: Size: XS

#2613 fb_main: fix draw_rect24
  examples/fb/fb_main.c
Labels: Size: XS

#2610 nsh:support $! get last pid use nsh run
  nshlib/nsh.h
  nshlib/nsh_builtin.c
  nshlib/nsh_command.c
  nshlib/nsh_fileapps.c
  nshlib/nsh_parse.c
Labels: Size: S

#2619 update posix timer testcase
  testing/drivertest/drivertest_posix_timer.c
Labels: Size: S

#2618 ntp:fix parameter is negative numbers.
  netutils/ntpclient/ntpclient.c
Labels: Size: S

#2623 mbedtls/Kconfig: Fix mbedtls configuration dependency issue
  crypto/mbedtls/Kconfig
Labels: Size: XS

#2624 tools/mksymtab.sh: Support multiple additional symbols` file
  tools/mksymtab.sh
Labels: Size: S

#2626 system/adb: fix build warning
  system/adb/adb_banner.c
Labels: Size: XS

#2622 crypto/libsodium: fix libsodium compilation warning
  crypto/libsodium/CMakeLists.txt
  crypto/libsodium/Makefile
Labels: Size: S

#2629 nshlib: support dd with conv=notrunc,nocreat
  nshlib/nsh_command.c
  nshlib/nsh_ddcmd.c
Labels: Size: S

#2627 ostest: fix smp call test
  testing/ostest/CMakeLists.txt
  testing/ostest/Makefile
  testing/ostest/ostest.h
  testing/ostest/ostest_main.c
  testing/ostest/smp_call.c
Labels: Size: S

#2608 build(enhancement):enhance apps to support independent out-of-tree builds
  Application.mk
  Make.defs
Labels: Size: M

#2633 luasyslog: add cmake support
  interpreters/luamodules/CMakeLists.txt
  interpreters/luamodules/luasyslog/CMakeLists.txt
Labels: Size: M

#2620 toolchain/ghs: Fix green hills toolchain build Vela warnings
  interpreters/luamodules/CMakeLists.txt
  interpreters/luamodules/luasyslog/CMakeLists.txt
Labels: Size: XS
