Repository apache/nuttx-apps, pull requests merged in 2024-12, with the labels that each got.

#2870 Update MbedTLS 3.4.0 -> 3.6.2 and set it as default
  crypto/controlse/Kconfig
  crypto/controlse/cmbedtls_se05x_extension.hxx
  crypto/mbedtls/0001-mbedtls-entropy_poll-use-getrandom-to-get-the-system.patch
  crypto/mbedtls/0002-mbedtls-add-mbedtls-x509-crt-pool.patch
  crypto/mbedtls/Kconfig
  crypto/mbedtls/include/mbedtls/mbedtls_config.h
Labels: Size: XL, Area: Crypto

#2872 tflm: add tflm hello world example into nuttx build
  mlearning/tflite-micro/0004-tflite-add-extern-C-to-main-function-to-avoid-c-mang.patch
  mlearning/tflite-micro/CMakeLists.txt
  mlearning/tflite-micro/Kconfig
Labels: Size: M, Area: Mlearning

#2874 lvgldemo: add LVGL duplicate initialization protection
  examples/lvgldemo/lvgldemo.c
Labels: Size: XS, Area: Examples

#2873 kasantest.c: Adding Dependencies
  testing/kasantest/Kconfig
Labels: Size: XS, Area: Testing

#2878 MbedTLS: patch warning when DTLS is off
  crypto/mbedtls/0003-Fix-MBEDTLS_SSL_DTLS_CONNECTION_ID_COMPAT-warning.patch
  crypto/mbedtls/CMakeLists.txt
  crypto/mbedtls/Makefile
Labels: Size: S, Area: Crypto

#2876 system/usbmsc: Add support for setting paths bind to LUN at runtime
  system/usbmsc/Kconfig
  system/usbmsc/usbmsc.h
  system/usbmsc/usbmsc_main.c
Labels: Size: M, Area: System

#2880 system/nxdiag: Change the order to generate the sysinfo.h file
  system/nxdiag/Makefile
Labels: Size: XS, Area: System

#2875 mtetest: Add a series of tests for the mte instruction set
  testing/mtetest/CMakeLists.txt
  testing/mtetest/Kconfig
  testing/mtetest/Make.defs
  testing/mtetest/Makefile
  testing/mtetest/mtetest.c
Labels: Size: M, Area: Testing

#2882 mlearning/tflite-micro: add a config option to redirect micro log to syslog
  mlearning/tflite-micro/CMakeLists.txt
  mlearning/tflite-micro/Kconfig
  mlearning/tflite-micro/Makefile
  mlearning/tflite-micro/tflm_syslog.cc
Labels: Size: S, Area: Mlearning

#2886 interpreters/python: Avoid warnings that could be treated as errors
  interpreters/python/Makefile
  interpreters/python/config.site
  interpreters/python/patch/0001-workaround-newlib-resource.h-limitations.patch
  interpreters/python/patch/0002-fix-various-uint32_t-unsigned-int-type-mismatch-issu.patch
  interpreters/python/patch/0003-reuse-wasm_assets.py-for-generating-an-archive-of-py.patch
  interpreters/python/patch/0004-recognize-nuttx-as-a-supported-OS.patch
  interpreters/python/patch/0005-gh-122907-Fix-Builds-Without-HAVE_DYNAMIC_LOADING-Se.patch
  interpreters/python/patch/0006-change-var-name-to-avoid-conflict-with-nuttx-unused_.patch
  interpreters/python/patch/0007-undef-atexit_register.patch
  interpreters/python/patch/0008-declare-struct-timeval.patch
  interpreters/python/patch/0009-include-nuttx-sys-select-header-to-define-FD_SETSIZE.patch
  interpreters/python/patch/0010-check-for-the-d_ino-member-of-the-structure-dirent.patch
  interpreters/python/patch/0011-avoid-redefinition-warning-if-UNUSED-is-already-defi.patch
Labels: Size: M, Area: Interpreters

#2887 ramspeed: fix dest align typo, add not-aligned print
  benchmarks/ramspeed/ramspeed_main.c
Labels: Size: XS, Area: Benchmarks

#2888 testing/ltp: Increase Stack Size
  testing/ltp/Kconfig
Labels: Size: XS, Area: Testing

#2889 fix a typo
  netutils/chat/chat.c
Labels: Area: Networking, Size: XS

#2890 drivertest_uart: The string was not truncated because one more charac…
  testing/drivertest/drivertest_uart.c
Labels: Size: XS, Area: Testing

#2896 uORB/sensor: Add macro for satellite format string
  system/uorb/sensor/gnss.c
Labels: Size: S, Area: System

#2892 nshlib: add support for disable sigmask from ps command
  nshlib/Kconfig
  nshlib/nsh_proccmds.c
Labels: Size: S, Area: NSH

#2898 Remove all references to CONFIG_SCHED_ATEXIT
  crypto/libtomcrypt/Kconfig
  interpreters/luamodules/luv/Kconfig
Labels: Size: XS, Area: Interpreters, Area: Crypto

#2902 interpreters/luamodules/luv: use "depends on" instead of "select"
  interpreters/luamodules/luv/Kconfig
Labels: Size: S, Area: Interpreters

#2901 gcov: Add a signature end statement to test statement matching
  system/gcov/gcov.c
Labels: Size: XS, Area: System

#2897 ostest: Add test for GCC's tls (CONFIG_SCHED_THREAD_LOCAL)
  testing/ostest/Makefile
  testing/ostest/ostest.h
  testing/ostest/ostest_main.c
  testing/ostest/sched_thread_local.c
Labels: Size: M, Area: Testing

#2904 mlearning/tflite-micro: fix build break if enable cmsis-nn and neon
  mlearning/tflite-micro/CMakeLists.txt
Labels: Size: XS, Area: Mlearning

#2903 nshlib/nsh_parse: Closing fds opened for redirection if necessary
  nshlib/nsh_parse.c
Labels: Size: S, Area: NSH

#2908 testing/sensortest: Add support to Velocity Sensors
  testing/sensortest/sensortest.c
Labels: Size: S, Area: Testing

#2910 Add carrier frequency for GNSS Satellite
  system/uorb/sensor/gnss.c
Labels: Size: S, Area: System

#2913 Adjust the default priority of some test cases
  testing/memtester/Kconfig
  testing/ramtest/Kconfig
Labels: Size: XS, Area: Testing

#2912 Multiple threads memorystress
  testing/memstress/memorystress_main.c
Labels: Size: M, Area: Testing

#2914 scanftest:need enable CONFIG_LIBC_SCANSET
  testing/scanftest/Kconfig
Labels: Size: XS, Area: Testing

#2915 TESTING_NAND_SIM: Add depends on
  testing/nand_sim/Kconfig
Labels: Size: XS, Area: Testing

#2919 {bp-2893} system/libuv/Kconfig: depends on CONFIG_PIPES
  system/libuv/Kconfig
Labels: Size: XS, Area: System

#2923 fix tab error and remove Useless depends on
  testing/testsuites/Kconfig
Labels: Size: S, Area: Testing
