Repository apache/nuttx-apps, pull requests merged in 2025-09, with the labels that each got.

#3173 system/ntpc: update ntpc messages
  system/ntpc/Kconfig
  system/ntpc/ntpcstart_main.c
  system/ntpc/ntpcstop_main.c
Labels: Size: S, Area: System

#3180 cyclictest: fix comp. warning (reqtimeout_timer) and optargs termination
  benchmarks/cyclictest/cyclictest.c
Labels: Size: XS, Area: Benchmarks

#3182 nshlib/reset_cause: Fix format warning for flag
  nshlib/nsh_syscmds.c
Labels: Size: XS, Area: NSH

#3179 system/cdcacm: Support sercon and serdis in CONFIG_BUILD_KERNEL
  system/cdcacm/CMakeLists.txt
  system/cdcacm/Makefile
  system/cdcacm/cdcacm.h
  system/cdcacm/sercon_main.c
  system/cdcacm/serdis_main.c
Labels: Size: M, Area: System

#3183 boot/nxboot: improve documentation
  boot/nxboot/Kconfig
  boot/nxboot/tools/nximage.py
Labels: Size: S, Area: Boot
