Repository apache/nuttx-apps, pull requests merged in 2025-05, with the labels that each got.

#3067 testing/ostest/signest: Replace kill with pthread_kill to fix running in SMP
  testing/ostest/signest.c
Labels: Size: S, Area: Testing

#3069 examples/optee: Introduce an OP-TEE client example
  examples/optee/CMakeLists.txt
  examples/optee/Kconfig
  examples/optee/Make.defs
  examples/optee/Makefile
  examples/optee/optee_main.c
Labels: Size: L, Area: Examples

#3065 examples/posix_stdio: Adding posix stdio example for new joiners.
  examples/posix_stdio/CMakeLists.txt
  examples/posix_stdio/Kconfig
  examples/posix_stdio/Make.defs
  examples/posix_stdio/Makefile
  examples/posix_stdio/posix_stdio.c
Labels: Size: M, Area: Examples

#3070 testing/ostest: add checking of signal deliver thread
  testing/ostest/signest.c
Labels: Size: S, Area: Testing

#3072 interpreters/python: Do not link to standard libraries
  interpreters/python/Makefile
Labels: Size: XS, Area: Interpreters

#3073 [BREAKING] uORB/sensor: Add timestamp for GNSS data
  system/uorb/sensor/gnss.c
Labels: Size: XS, Area: System

#3078 logging/nxscope: allow use in C++ code
  include/logging/nxscope/nxscope.h
  include/logging/nxscope/nxscope_chan.h
  include/logging/nxscope/nxscope_intf.h
  include/logging/nxscope/nxscope_proto.h
Labels: Size: S, Area: Logging

#3079 wireless/bluetooth/nimble/Kconfig: add missing header
  wireless/bluetooth/nimble/Kconfig
Labels: Size: XS, Area: Wireless

#3077 logging/nxscope: fix various warnings reported by CodeChekcer
  include/logging/nxscope/nxscope_chan.h
  logging/nxscope/nxscope.c
  logging/nxscope/nxscope_chan.c
  logging/nxscope/nxscope_pser.c
Labels: Size: S, Area: Logging

#3080 examples/optee_gp: Fix Kconfig if/else condition
  examples/optee_gp/Kconfig
Labels: Size: XS, Area: Examples

#3076 ostest/wdog: Update wdog_test.
  testing/ostest/wdog.c
Labels: Size: M, Area: Testing
