Repository apache/nuttx-apps, pull requests merged in 2025-07, with the labels that each got.

#3118 games/snake: Enchacements for snake game
  games/snake/snake_main.c
Labels: Size: M, Area: Games

#3115 nshlib/md5: Support reading from standard input
  nshlib/nsh_codeccmd.c
  nshlib/nsh_command.c
Labels: Size: S, Area: NSH

#3122 system/coredump: Fix missing loglevel to logmask conversion
  system/coredump/coredump.c
Labels: Size: XS, Area: System

#3125 Games: Add match4 game
  games/match4/Kconfig
  games/match4/Make.defs
  games/match4/Makefile
  games/match4/match4_input_console.h
  games/match4/match4_input_gpio.h
  games/match4/match4_inputs.h
  games/match4/match4_main.c
Labels: Size: XL, Area: Games

#3128 [CI] build.yml: fix ERROR: Dangerous symbolic link path was ignored on MSVC job
  .github/workflows/build.yml
Labels: Size: XS, Area: CI

#3132 netutils/nanopb: fix unpack step for MACOS
  netutils/nanopb/Makefile
Labels: Area: Networking, Size: XS

#3127 graphics/libjpeg: Add JPEG compressor support to Makefile
  graphics/libjpeg/Makefile
Labels: Size: S, Area: Graphics

#3138 system/gdbstub: Add depends of LIB_GDBSTUB
  system/gdbstub/Kconfig
Labels: Size: XS, Area: System

#3140 netutils/esp8266: Fix compile error and some bugs
  include/netutils/esp8266.h
  netutils/esp8266/esp8266.c
Labels: Area: Networking, Size: M

#3141 tee/optee_supplicant: Added optee supplicant
  tee/optee_supplicant/0001-tee-supplicant-port-to-nuttx.patch
  tee/optee_supplicant/CMakeLists.txt
  tee/optee_supplicant/Kconfig
  tee/optee_supplicant/Make.defs
  tee/optee_supplicant/Makefile
Labels: Size: L

#3120 examples/xedge: Add Xedge example with BAS integration
  examples/xedge_demo/Kconfig
  examples/xedge_demo/Make.defs
  examples/xedge_demo/Makefile
  examples/xedge_demo/xedge_main.c
  netutils/xedge/.gitignore
  netutils/xedge/Kconfig
  netutils/xedge/Make.defs
  netutils/xedge/Makefile
Labels: Area: Networking, Size: L, Size: M, Area: Examples

#3130 examples/mtdpart:Register MTD devices using the mtd_register method
  examples/mtdpart/mtdpart_main.c
Labels: Size: M, Area: Examples

#3144 crypto/mbedtls-alt: aligned shax return value with mbedtls test
  crypto/mbedtls/source/cmac_alt.c
  crypto/mbedtls/source/poly1305_alt.c
  crypto/mbedtls/source/sha1_alt.c
  crypto/mbedtls/source/sha256_alt.c
  crypto/mbedtls/source/sha512_alt.c
Labels: Size: S, Area: Crypto

#3145 nxboot/loader: Fix boot progress calculation.
  boot/nxboot/loader/boot.c
Labels: Size: XS, Area: Boot
