Repository apache/nuttx-apps, pull requests merged in 2025-04, with the labels that each got.

#3046 benchmarks/mtd: Select libc's floating point support and improve format specifiers portability
  benchmarks/mtd/Kconfig
  benchmarks/mtd/mtd.c
Labels: Size: XS, Area: Benchmarks

#3049 foc/foc_feedforward.c: vdq_comp->q should use idq->d
  industry/foc/fixed16/foc_feedforward.c
  industry/foc/float/foc_feedforward.c
Labels: Size: XS, Area: Industry

#3048 system/dd: Implement conv=notrunc
  system/dd/dd_main.c
Labels: Size: S, Area: System

#3052 kernel build:avoid multiple definition ld script
  import/Make.defs
Labels: Area: Build System, Size: XS

#3054 nxscope/nxscope_pser.c: use xmodem crc16 directly
  logging/nxscope/nxscope_pser.c
Labels: Size: XS, Area: Logging

#2985 [BREAKING]libc/elf: rename modlib to elf
  benchmarks/fio/Kconfig
  examples/module/chardev/chardev.c
  examples/sotest/main/sotest_main.c
  examples/sotest/modprint/modprint.c
  examples/sotest/sotest/sotest.c
  tools/mksymtab.sh
Labels: breaking change, Size: S, Area: Examples, Area: Benchmarks, Area: Tools

#3060 examples/camera: Initialize g_nximage semaphore with SEM_INITIALIZER
  examples/camera/camera_bkgd.c
Labels: Size: S, Area: Examples

#3061 canutils: use bps units for bitrate in SocketCAN interfaces.
  canutils/lely-canopen/0005-add-NuttX-support.patch
  canutils/slcan/slcan.c
Labels: Size: S, Area: CAN

#3062 examples/elf: add possibility to create romfs image
  examples/elf/Kconfig
  examples/elf/elf_main.c
  examples/elf/tests/.gitignore
  examples/elf/tests/Makefile
Labels: Size: S, Area: Examples

#3057 [BREAKING] system/dd: using system dd to instead nsh dd, avoid duplicate code
  nshlib/CMakeLists.txt
  nshlib/Kconfig
  nshlib/Makefile
  nshlib/nsh.h
  nshlib/nsh_command.c
  nshlib/nsh_ddcmd.c
  system/dd/Kconfig
  system/dd/dd_main.c
Labels: breaking change, Size: M, Area: System, Area: NSH

#3059 Make slcan brin the interface up/down with the appropiate commands
  canutils/slcan/slcan.c
Labels: Size: S, Area: CAN
