Repository apache/nuttx-apps, pull requests merged in 2025-06, with the labels that each got.

#3082 Fixing Kconfig file, adding the STACKSIZE symbol to example posix_stdio
  examples/posix_stdio/Kconfig
Labels: Size: S, Area: Examples

#3088 ostest/wdog: Remove periodical wdog test cases.
  testing/ostest/wdog.c
Labels: Size: S, Area: Testing

#3089 system/uORB: fix `orb_subscribe_multi` undefined
  system/uorb/CMakeLists.txt
Labels: Size: XS, Area: System

#3068 boot/nxboot: Enhancements to add progress messages and copy-to-RAM
  boot/nxboot/Kconfig
  boot/nxboot/include/nxboot.h
  boot/nxboot/loader/boot.c
  boot/nxboot/loader/flash.c
  boot/nxboot/nxboot_main.c
Labels: Size: M, Area: Boot

#3091 testing/fs: update api name fs_getfilep/fs_putfilep to file_get/file_put
  testing/testsuites/kernel/fs/cases/fs_file_get_test.c
  testing/testsuites/kernel/fs/cmocka_fs_test.c
  testing/testsuites/kernel/fs/include/fstest.h
Labels: Size: S, Area: Testing

#3094 system/fastboot: move usbdev init after help
  system/fastboot/fastboot.c
Labels: Size: S, Area: System

#3090 system/syslogd: Initial implementation
  .gitignore
  system/syslogd/CMakeLists.txt
  system/syslogd/Kconfig
  system/syslogd/Make.defs
  system/syslogd/Makefile
  system/syslogd/syslogd_main.c
Labels: Size: L, Size: M, Area: System

#3095 system/fastboot: add const for memdump_print_t
  system/fastboot/fastboot.c
Labels: Size: XS, Area: System

#3097 boot/nxboot: fix compile errors caused by nxboot_progress
  boot/nxboot/Kconfig
  boot/nxboot/include/nxboot.h
  boot/nxboot/nxboot_main.c
Labels: Size: S, Area: Boot

#3098 system/fastboot: Add support for TCP network device
  system/fastboot/Kconfig
  system/fastboot/fastboot.c
Labels: Size: M, Area: System

#3102 check.yml: fix cvt2utf not found sync with nuttx repository
  .github/workflows/check.yml
Labels: Size: XS, Area: CI

#3104 system/fastboot: release resource & disconnect usbdev if need
  system/fastboot/fastboot.c
Labels: Size: S, Area: System

#3108 system/settings: fix assertion triggered by uninitialized variables
  system/settings/settings.c
Labels: Size: XS, Area: System

#3106 system/gcov: Update gcov functionality
  system/gcov/gcov.c
Labels: Size: M, Area: System

#3110 system/settings: general code cleaning
  system/settings/settings.c
Labels: Size: M, Area: System
