Repository apache/nuttx-apps, pull requests merged in 2025-01, with the labels that each got.

#2927 testing/rpmsgdev: Replace space with tab for Kconfig
  testing/rpmsgdev/Kconfig
Labels: Size: XS, Area: Testing

#2928 interpreters/python: Enable Python's socket module
  interpreters/python/Setup.local
  interpreters/python/config.site
Labels: Size: XS, Area: Interpreters

#2929 mtetest: add thread to control mte test separately
  testing/mtetest/Kconfig
  testing/mtetest/Makefile
  testing/mtetest/mtetest.c
Labels: Size: M, Area: Testing

#2930 testing/monkey: add running-minutes parameter
  testing/monkey/monkey_main.c
Labels: Size: S, Area: Testing

#2933 CI: Increase CI Jobs to 100% for Complex PRs
  .github/workflows/arch.yml
Labels: Size: S, Area: CI

#2935 apps/testing: Add a cmocka framework for network testing
  testing/nettest/CMakeLists.txt
  testing/nettest/Kconfig
  testing/nettest/Make.defs
  testing/nettest/Makefile
  testing/nettest/tcp/test_tcp.c
  testing/nettest/tcp/test_tcp.h
  testing/nettest/tcp/test_tcp_common.c
  testing/nettest/tcp/test_tcp_connect_ipv4.c
Labels: Size: M, Area: Testing

#2934 cmake[enhance]:builtin register support NONE srcs target
  builtin/CMakeLists.txt
Labels: Size: XS, Area: Binfmt

#2938 stressapptest: Add download step
  testing/stressapptest/CMakeLists.txt
  testing/stressapptest/Kconfig
  testing/stressapptest/Makefile
Labels: Size: S, Area: Testing

#2939 Remove unused header files across multiple source files
  canutils/slcan/slcan.c
  examples/can/can_main.c
  examples/module/main/module_main.c
  examples/nimble/nimble_main.c
  examples/nrf24l01_btle/nrf24l01_btle.c
  examples/relays/relays_main.c
  examples/rpmsgsocket/rpsock_server.c
  examples/usbserial/host.c
  examples/usrsocktest/usrsocktest_noblock_connect.c
  netutils/pppd/pppd.c
  netutils/telnetc/telnetc.c
  netutils/thttpd/fdwatch.c
  system/vi/vi.c
  system/zmodem/zm_state.c
  testing/drivertest/drivertest_framebuffer.c
  testing/drivertest/drivertest_i2c_spi.c
  testing/drivertest/drivertest_lcd.c
  testing/drivertest/drivertest_watchdog.c
  testing/ostest/schedlock.c
  testing/testsuites/kernel/fs/cases/fs_append_test.c
  testing/testsuites/kernel/fs/cases/fs_creat_test.c
  testing/testsuites/kernel/fs/cases/fs_pread_test.c
  testing/testsuites/kernel/fs/cases/fs_pwrite_test.c
  testing/testsuites/kernel/fs/cases/fs_read_test.c
  testing/testsuites/kernel/fs/cases/fs_readlink_test.c
  testing/testsuites/kernel/fs/cases/fs_sendfile_test.c
  testing/testsuites/kernel/fs/cases/fs_stat_test.c
  testing/testsuites/kernel/fs/cases/fs_stream_test.c
  testing/testsuites/kernel/fs/cases/fs_symlink_test.c
  testing/testsuites/kernel/mm/cmocka_mm_test.c
  testing/testsuites/kernel/mutex/cmocka_mutex_test.c
  testing/testsuites/kernel/pthread/cmocka_pthread_test.c
  testing/testsuites/kernel/socket/cmocka_socket_test.c
  testing/testsuites/kernel/syscall/cases/accept_test.c
  testing/testsuites/kernel/syscall/cases/bind_test.c
  testing/testsuites/kernel/syscall/cases/dup2_test.c
  testing/testsuites/kernel/syscall/cases/dup_test.c
  testing/testsuites/kernel/syscall/cases/fsync_test.c
  testing/testsuites/kernel/syscall/cases/getTimeofday_test.c
  testing/testsuites/kernel/syscall/cases/lstat_test.c
  testing/testsuites/kernel/syscall/cases/memcpy_test.c
  testing/testsuites/kernel/syscall/cases/memset_test.c
  testing/testsuites/kernel/syscall/cases/readdir_test.c
  testing/testsuites/kernel/syscall/cases/sched_test.c
Labels: Area: Networking, Size: S, Area: CAN, Area: System, Area: Testing, Area: Examples

#2487 examples: New app to build Rust with Cargo
  CMakeLists.txt
  cmake/nuttx_add_rust.cmake
  examples/rust/.gitignore
  examples/rust/CMakeLists.txt
  examples/rust/Make.defs
  examples/rust/Makefile
  examples/rust/hello/.gitignore
  examples/rust/hello/CMakeLists.txt
  examples/rust/hello/Cargo.toml
  examples/rust/hello/Kconfig
  examples/rust/hello/Make.defs
  examples/rust/hello/Makefile
  examples/rust/hello/src/lib.rs
  tools/Rust.mk
Labels: Area: Build System, Size: L, Area: Examples, Area: Tools

#2940 examples/usbserial: Fix style issues in host.c
  examples/usbserial/host.c
Labels: Size: M, Area: Examples

#2942 testing/nettest: Add test for net bufpool
  testing/nettest/CMakeLists.txt
  testing/nettest/Kconfig
  testing/nettest/Makefile
  testing/nettest/others/test_others.c
  testing/nettest/others/test_others.h
  testing/nettest/others/test_others_bufpool.c
  testing/nettest/others/test_others_common.c
Labels: Size: M, Area: Testing

#2944 examples/rust: Rename hello_rust to rust/baremetal
  examples/rust/baremetal/Kconfig
  examples/rust/baremetal/Make.defs
  examples/rust/baremetal/Makefile
  examples/rust/baremetal/hello_rust_main.rs
Labels: Size: S, Area: Examples

#2945 apps/nshlib: Remove the deprecated config `NSH_LINELEN`
  nshlib/Kconfig
Labels: Size: XS, Area: NSH

#2950 apps/nshlib: Save result and return ERROR if `lib_get_tempbuffer()` fails
  nshlib/nsh_parse.c
Labels: Size: XS, Area: NSH

#2949 lp503x_main: Minor fix
  examples/lp503x/lp503x_main.c
Labels: Size: XS, Area: Examples

#2946 Use lib_get_tempbuffer Saving stack
  nshlib/nsh_mmcmds.c
Labels: Size: S, Area: NSH

#2952 apps/nshlib: Reuse local variable for cmd_memdump
  nshlib/nsh_mmcmds.c
Labels: Size: S, Area: NSH

#2953 wamr: Map armv7a/thumbv7a to armv7/thumbv7 for wamrc
  interpreters/wamr/Toolchain.defs
Labels: Size: XS, Area: Interpreters

#2955 rust/hello: Optimize the build flags
  examples/rust/hello/Cargo.toml
Labels: Size: XS, Area: Examples

#2956 apps/testing: move himem_test,mtetest and x86-64-ABI folders to the new arch folder
  testing/arch/.gitignore
  testing/arch/CMakeLists.txt
  testing/arch/Make.defs
  testing/arch/Makefile
  testing/arch/himem_test/Kconfig
  testing/arch/himem_test/LibIncludes.mk
  testing/arch/himem_test/Make.defs
  testing/arch/himem_test/Makefile
  testing/arch/himem_test/himem_chardev_test.c
  testing/arch/mtetest/CMakeLists.txt
  testing/arch/mtetest/Kconfig
  testing/arch/mtetest/Make.defs
  testing/arch/mtetest/Makefile
  testing/arch/mtetest/mtetest.c
  testing/arch/x86-64-ABI/.gitignore
  testing/arch/x86-64-ABI/0001-app-testing-Resolve-the-issue-of-compilation-failure.patch
  testing/arch/x86-64-ABI/Kconfig
  testing/arch/x86-64-ABI/Make.defs
  testing/arch/x86-64-ABI/Makefile
Labels: Size: M, Area: Testing

#2957 tools/Rust: Add support for panic_immediate_abort
  cmake/nuttx_add_rust.cmake
  tools/Rust.mk
Labels: Area: Build System, Size: XS, Area: Tools

#2958 gdbstub: add const to send buffer
  system/gdbstub/gdbstub.c
Labels: Size: XS, Area: System

#2960 examples/i2schar: Make tx/rx count value generic on transmit/recieve …
  examples/i2schar/i2schar_receiver.c
  examples/i2schar/i2schar_transmitter.c
Labels: Size: XS, Area: Examples

#2964 apps/testing:move arch_libc, fmemopen, scanftest folders to the new libc folder
  testing/libc/.gitignore
  testing/libc/CMakeLists.txt
  testing/libc/Make.defs
  testing/libc/Makefile
  testing/libc/arch_libc/CMakeLists.txt
  testing/libc/arch_libc/Kconfig
  testing/libc/arch_libc/Make.defs
  testing/libc/arch_libc/Makefile
  testing/libc/arch_libc/arch_libc_test_main.c
  testing/libc/fmemopen/CMakeLists.txt
  testing/libc/fmemopen/Kconfig
  testing/libc/fmemopen/Make.defs
  testing/libc/fmemopen/Makefile
  testing/libc/fmemopen/fmemopen.c
  testing/libc/scanftest/CMakeLists.txt
  testing/libc/scanftest/Kconfig
  testing/libc/scanftest/Make.defs
  testing/libc/scanftest/Makefile
  testing/libc/scanftest/scanftest_main.c
Labels: Size: M, Area: Testing

#2968 system/cu: remove canonical input mode from termios flag
  system/cu/cu_main.c
Labels: Size: XS, Area: System

#2969 Allow GPS serial port to be specified as argument to `gps` example
  .gitignore
  examples/gps/Kconfig
  examples/gps/gps_main.c
Labels: Size: S, Area: Examples

#2972 examples/module: allow module on hostfs
  examples/module/main/Kconfig
  examples/module/main/module_main.c
Labels: Size: S, Area: Examples

#2973 move coredump info to note
  system/coredump/coredump.c
Labels: Size: M, Area: System

#2974 apps/testing:move atomic,cpuload,getprime,smp and timerjitter folders to the new sched folder
  system/cpuload/CMakeLists.txt
  system/cpuload/Kconfig
  system/cpuload/Make.defs
  system/cpuload/Makefile
  system/cpuload/cpuload_main.c
  testing/libc/atomic/CMakeLists.txt
  testing/libc/atomic/Kconfig
  testing/libc/atomic/Make.defs
  testing/libc/atomic/Makefile
  testing/libc/atomic/atomic_main.c
  testing/sched/.gitignore
  testing/sched/CMakeLists.txt
  testing/sched/Make.defs
  testing/sched/Makefile
  testing/sched/getprime/CMakeLists.txt
  testing/sched/getprime/Kconfig
  testing/sched/getprime/Make.defs
  testing/sched/getprime/Makefile
  testing/sched/getprime/getprime_main.c
  testing/sched/smp/CMakeLists.txt
  testing/sched/smp/Kconfig
  testing/sched/smp/Make.defs
  testing/sched/smp/Makefile
  testing/sched/smp/smp_main.c
  testing/sched/timerjitter/CMakeLists.txt
  testing/sched/timerjitter/Kconfig
  testing/sched/timerjitter/Make.defs
  testing/sched/timerjitter/Makefile
  testing/sched/timerjitter/timerjitter.c
Labels: Size: M, Area: System, Area: Testing

#2975 testing: Move crypto to drivers and open_memstream to libc
  testing/drivers/crypto/3descbc.c
  testing/drivers/crypto/CMakeLists.txt
  testing/drivers/crypto/Kconfig
  testing/drivers/crypto/Make.defs
  testing/drivers/crypto/Makefile
  testing/drivers/crypto/aescbc.c
  testing/drivers/crypto/aescmac.c
  testing/drivers/crypto/aesctr.c
  testing/drivers/crypto/aesxts.c
  testing/drivers/crypto/crc32.c
  testing/drivers/crypto/dhm.c
  testing/drivers/crypto/ecdsa.c
  testing/drivers/crypto/hash.c
  testing/drivers/crypto/hmac.c
  testing/drivers/crypto/rsa.c
  testing/drivers/setest/CMakeLists.txt
  testing/drivers/setest/Kconfig
  testing/drivers/setest/Make.defs
  testing/drivers/setest/Makefile
  testing/drivers/setest/setest.c
  testing/libc/open_memstream/CMakeLists.txt
  testing/libc/open_memstream/Kconfig
  testing/libc/open_memstream/Make.defs
  testing/libc/open_memstream/Makefile
  testing/libc/open_memstream/open_memstream.c
Labels: Size: S, Area: Testing

#2977 apps/testing: Move sd_bench to apps/bechmarks
  benchmarks/sd_bench/Kconfig
  benchmarks/sd_bench/Make.defs
  benchmarks/sd_bench/Makefile
  benchmarks/sd_bench/sd_bench_main.c
Labels: Size: S, Area: Benchmarks

#2980 tools/Rust: Add support for x86 platform
  cmake/nuttx_add_rust.cmake
  tools/Rust.mk
Labels: Area: Build System, Size: S, Area: Tools

#2967 examples/rust: Add basic Slint example
  examples/rust/slint/.gitignore
  examples/rust/slint/CMakeLists.txt
  examples/rust/slint/Cargo.toml
  examples/rust/slint/Kconfig
  examples/rust/slint/Make.defs
  examples/rust/slint/Makefile
  examples/rust/slint/build.rs
  examples/rust/slint/src/lib.rs
  examples/rust/slint/ui/app.slint
Labels: Size: M, Area: Examples

#2981 examples:hello_nim: fix comment syntax
  examples/hello_nim/hello_nim_async.nim
Labels: Size: XS, Area: Examples

#2979 ostest: fix cmake build break
  testing/ostest/CMakeLists.txt
Labels: Size: XS, Area: Testing
