Repository apache/nuttx-apps, pull requests merged in 2025-03, with the labels that each got.

#3013 apps/testing:fix uclibc atomic make.defs error
  testing/cxx/uclibcxx_test/Make.defs
  testing/libc/atomic/Make.defs
Labels: Size: XS, Area: Testing

#3014 benchmarks/cyclictest/cyclictest.c: periodic output and -q option
  benchmarks/cyclictest/cyclictest.c
Labels: Size: S, Area: Benchmarks

#3018 ostest:Fix the issue that nxevent pthread was not executed, causing case failed
  testing/ostest/nxevent.c
Labels: Size: XS, Area: Testing

#3015 benchmarks/osperf: fix warning maybe-uninitialized
  benchmarks/osperf/osperf.c
Labels: Size: XS, Area: Benchmarks

#3016 examples: Add depends to different test cases
  examples/unionfs/Kconfig
  examples/userfs/Kconfig
  testing/fs/nxffs/Kconfig
  testing/fs/smart/Kconfig
Labels: Size: XS, Area: Testing, Area: Examples

#3024 [BREAKING] boot/nxboot: enhance bootloader capabilities and decision logic
  boot/nxboot/Kconfig
  boot/nxboot/include/nxboot.h
  boot/nxboot/loader/boot.c
  boot/nxboot/loader/flash.c
  boot/nxboot/loader/flash.h
  boot/nxboot/tools/nximage.py
Labels: Size: L, Area: Boot

#3028 games/snake: Add snake game
  games/snake/Kconfig
  games/snake/Make.defs
  games/snake/Makefile
  games/snake/snake_input_console.h
  games/snake/snake_input_gpio.h
  games/snake/snake_inputs.h
  games/snake/snake_main.c
Labels: Size: XL, Area: Games

#3029 Add fbcon example
  examples/fbcon/CMakeLists.txt
  examples/fbcon/Kconfig
  examples/fbcon/Make.defs
  examples/fbcon/Makefile
  examples/fbcon/fbcon_main.c
Labels: Size: XL, Area: Examples

#3031 build.yml: Brought into sync with NuttX repository
  .github/workflows/build.yml
Labels: Size: S, Area: CI

#3032 examples/fbcon: Fix endchoice and help in Kconfig
  examples/fbcon/Kconfig
Labels: Size: XS, Area: Examples

#3027 examples/xmlrpc: Fix calls buffers size.
  examples/xmlrpc/calls.c
Labels: Size: S, Area: Examples

#3030 fix build for canutilis/lely-canopen
  canutils/lely-canopen/0001-tools-eliminate-multiple-definitions-of-poll-compile.patch
  canutils/lely-canopen/0002-tools-coctl.c-fix-printf-issues.patch
  canutils/lely-canopen/0003-src-co-nmt.c-fix-compilation.patch
  canutils/lely-canopen/0004-tools-coctl.c-add-missing-mutex-init.patch
  canutils/lely-canopen/0005-add-NuttX-support.patch
  canutils/lely-canopen/CMakeLists.txt
  canutils/lely-canopen/Kconfig
  canutils/lely-canopen/Makefile
Labels: Size: L, Area: CAN

#3034 cmake: fix cmake build for FreeModBus
  modbus/CMakeLists.txt
Labels: Size: S, Area: Modbus

#3019 nshlib: typo fixed in Kconfig
  nshlib/Kconfig
Labels: Size: XS, Area: NSH

#3025 ostest: Implement mutex move test functionality
  testing/ostest/mutex.c
Labels: Size: M, Area: Testing

#3036 mbedtls: add MBEDTLS_SSL_COOKIE_C to Kconfig for manual configuration
  crypto/mbedtls/Kconfig
Labels: Size: XS, Area: Crypto

#3033 benchmarks/mtd: Add MTD transfer rates benchmark.
  benchmarks/mtd/CMakeLists.txt
  benchmarks/mtd/Kconfig
  benchmarks/mtd/Make.defs
  benchmarks/mtd/Makefile
  benchmarks/mtd/mtd.c
Labels: Size: M, Area: Benchmarks

#3035 modbus: add an option to disable log
  modbus/Kconfig
  modbus/nuttx/port.h
  modbus/nuttx/portother.c
Labels: Size: S, Area: Modbus

#3023 system/nxplayer/nxrecorder: move apb buffer instance to stack
  system/nxplayer/nxplayer.c
  system/nxrecorder/nxrecorder.c
Labels: Size: S, Area: System

#3038 nxlooper: fix typo in nxlooper
  system/nxlooper/nxlooper.c
Labels: Size: XS, Area: System

#3022 drivertest_uart: Pass in the specified parameters to test
  testing/drivers/drivertest/drivertest_uart.c
Labels: Size: S, Area: Testing

#3040 nshlib/nsh_fsutils.c: fix getpid_callback function read size
  nshlib/nsh_fsutils.c
Labels: Size: XS, Area: NSH

#3039 testing/drivers/drivertest: Uniform test case name
  testing/drivers/drivertest/drivertest_adc.c
  testing/drivers/drivertest/drivertest_audio.c
  testing/drivers/drivertest/drivertest_block.c
  testing/drivers/drivertest/drivertest_framebuffer.c
  testing/drivers/drivertest/drivertest_i2c_spi.c
  testing/drivers/drivertest/drivertest_lcd.c
  testing/drivers/drivertest/drivertest_mps2.c
  testing/drivers/drivertest/drivertest_mps2_zerointerrupt.c
  testing/drivers/drivertest/drivertest_oneshot.c
  testing/drivers/drivertest/drivertest_pm.c
  testing/drivers/drivertest/drivertest_pm_runtime.c
  testing/drivers/drivertest/drivertest_pm_smp.c
  testing/drivers/drivertest/drivertest_posix_timer.c
  testing/drivers/drivertest/drivertest_pwm.c
  testing/drivers/drivertest/drivertest_regulator.c
  testing/drivers/drivertest/drivertest_relay.c
  testing/drivers/drivertest/drivertest_rtc.c
  testing/drivers/drivertest/drivertest_simple.c
  testing/drivers/drivertest/drivertest_timer.c
  testing/drivers/drivertest/drivertest_touchpanel.c
  testing/drivers/drivertest/drivertest_watchdog.c
Labels: Size: M, Area: Testing

#3042 system/uorb/listener.c: fix typo
  system/uorb/listener.c
Labels: Size: XS, Area: System

#3045 examples/adc: fix printf warning
  examples/adc/adc_main.c
Labels: Size: XS, Area: Examples

#3044 cmake: remove empty strings from FetchContent
  boot/mcuboot/CMakeLists.txt
  crypto/tinydtls/CMakeLists.txt
  graphics/lvgl/CMakeLists.txt
  netutils/cjson/CMakeLists.txt
  netutils/wakaama/CMakeLists.txt
  system/adb/CMakeLists.txt
  system/argtable3/CMakeLists.txt
  testing/mm/stressapptest/CMakeLists.txt
  testing/unity/CMakeLists.txt
  wireless/bluetooth/nimble/CMakeLists.txt
Labels: Area: Networking, Size: S, Area: Boot, Area: System, Area: Testing, Area: Crypto, Area: Graphics, Area: Wireless

#3041 gps: modify printf to use format specifier macros
  examples/gps/gps_main.c
Labels: Size: XS, Area: Examples
