Repository apache/nuttx-apps, pull requests merged in 2025-02, with the labels that each got.

#2984 examples/amg88xx: fix kconfig
  examples/amg88xx/Kconfig
Labels: Size: XS, Area: Examples

#2986 testing/libc/wcstombs: Add testing application for wcstombs
  testing/libc/wcstombs/CMakeLists.txt
  testing/libc/wcstombs/Kconfig
  testing/libc/wcstombs/Make.defs
  testing/libc/wcstombs/Makefile
  testing/libc/wcstombs/wcstombs_main.c
Labels: Size: M, Area: Testing

#2987 system/uorb: require that LIBC_FLOATINGPOINT be enabled for DEBUG_UORB
  system/uorb/Kconfig
  system/uorb/listener.c
Labels: Size: XS, Area: System

#2990 nshlib/builtin: check background task before restore the signal
  nshlib/nsh_builtin.c
Labels: Size: XS, Area: NSH

#2820 examples:spislave_test: Improve example
  examples/spislv_test/spislv_test.c
Labels: Size: L, Area: Examples

#2994 system/fastboot: Add prefix "SYSTEM" for USB boardctl configuration
  system/fastboot/Kconfig
  system/fastboot/fastboot.c
Labels: Size: XS, Area: System

#3002 system/cpuload: Fix application's Make.defs location
  system/cpuload/Make.defs
Labels: Size: XS, Area: System

#2996 logging/embedlog: bump version to v0.7.2
  logging/embedlog/Makefile
Labels: Size: XS, Area: Logging

#2997 system/psmq: bump version to v0.2.2 and fix include path
  system/psmq/Makefile
Labels: Size: XS, Area: System

#3005 [nxstyle] fix Relative file path
  examples/rust/hello/Make.defs
  examples/spislv_test/Make.defs
  mlearning/cmsis-nn/Make.defs
  system/sensorscope/Make.defs
  testing/cxx/cxxsize/Make.defs
  testing/cxx/cxxsize/Makefile
Labels: Size: S, Area: System, Area: Testing, Area: Examples, Area: Mlearning

#3004 system/irtest/Make.defs: fixed the wrong path
  system/irtest/Make.defs
Labels: Size: XS, Area: System

#3001 interpreters/quickjs/CMakeLists.txt: Sync of build Cmake with build Make
  interpreters/quickjs/CMakeLists.txt
Labels: Size: XS, Area: Interpreters

#3006 netutils/pppd/ppp.h: Fix build issue when network debug is enabled
  netutils/pppd/ppp.h
Labels: Area: Networking, Size: XS

#3003 system/fastboot: Add support for fastboot oem shell
  system/fastboot/Kconfig
  system/fastboot/fastboot.c
Labels: Size: S, Area: System

#3009 [Kconfig style] Fix Kconfig style
  crypto/mbedtls/Kconfig
  examples/rmtchar/Kconfig
  system/settings/Kconfig
  system/zlib/Kconfig
  testing/mm/stressapptest/Kconfig
  testing/sched/timerjitter/Kconfig
Labels: Size: S, Area: System, Area: Testing, Area: Examples, Area: Crypto

#3008 [nxstyle] fix Relative file path
  benchmarks/superpi/CMakeLists.txt
  examples/charger/Kconfig
  examples/udpblaster/udpblaster_host.cmake
Labels: Size: XS, Area: Examples, Area: Benchmarks
