Repository apache/nuttx-apps, pull requests merged in 2025-08, with the labels that each got.

#3152 netutils/dhcpc/dhcpc: add implementation to get renewal (T1) time and rebinding (T2) time from DHCP packet
  include/netutils/dhcpc.h
  netutils/dhcpc/dhcpc.c
Labels: Area: Networking, Size: S

#3153 apps/unity: Add printf configuration
  include/testing/unity_config.h
  testing/unity/Kconfig
Labels: Size: S, Area: Testing

#3160 fsutils/libtinycbor: Update TinyCBOR to 0.6.1
  fsutils/libtinycbor/Makefile
  fsutils/libtinycbor/fix_open_memstream.patch
Labels: Area: File System, Size: S

#3121 system/dd: portability to non-nuttx platforms
  system/dd/dd_main.c
Labels: Size: XS, Size: S, Area: System

#3165 mbedtls: Add an option to build ssl_client2 test program
  crypto/mbedtls/.gitignore
  crypto/mbedtls/Kconfig
  crypto/mbedtls/Makefile
Labels: Size: S, Area: Crypto

#3169 boot/nxboot/loader/boot.c: avoid unwanted confirm on double update
  boot/nxboot/loader/boot.c
Labels: Size: XS, Area: Boot

#3166 examples/i2schar: Implement loopback mode check
  examples/i2schar/i2schar.h
  examples/i2schar/i2schar_main.c
  examples/i2schar/i2schar_receiver.c
  examples/i2schar/i2schar_transmitter.c
Labels: Size: M, Area: Examples
